*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 1100px;
    height: 100vh;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
}