@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: aqua;
}

.conteudo-tabela {
    margin: 10px auto;
    width: 800px;
    font-size: 18px;
    border-collapse: collapse; 
    /* Quebrar a separação da borda ^^ */
}

.conteudo-tabela thead tr {
    background: aqua;
    color: white;
    text-align: left;
}

.conteudo-tabela th, td {
    padding: 15px;
}

.conteudo-tabela tbody tr {
    border-bottom: 1px solid #ddd;
}

.conteudo-tabela tbody tr:nth-child(even) {
     background-color: #f9f9f9;
}

.conteudo-tabela tbody tr:last-child {
    border-bottom: 2px solid aqua;
}

.conteudo-tabela tbody tr:hover {
    color: aqua;
    font-weight: 900;
}

.conteudo-tabela tfoot {
    text-align: right;
    font-size: 13px;
    font-weight: 700;
}