/* 
                                fLEXBOX - WRAP REVERSE
    Permite a quebra de linha invertida. Quando não definimos tamanho do elemento, ele vai fazer o ajuste até chegar a hora
    que ele não caiba 
*/

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.box {
    width: 10%;
    min-width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
}

.box-1{background: #666;}
.box-2{background: #888;}
.box-3{background: #aaa;}
.box-4{background: #ccc;}