/* 
                                fLEXBOX - ROW
    sem float, inline, inline-block - NÃO usamos com o flexbox.
    Toda a formatação do container está no arquivo base.css, então para usar o flex vou aplicar as propriedades
    aqui nessa reescrita do container.

    Flex-direction - define a direção que os elementos devem ser - Padrão é row, por isso ficam um ao lado do outro.
*/

.container {
    display: flex;
    flex-direction: row;
}

.box {
    width: 10%;
    min-width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
}

.box-1{background: #666;}
.box-2{background: #888;}
.box-3{background: #aaa;}
.box-4{background: #ccc;}